@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('./fonts/ClashDisplay-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Sceageus';
  src: url('./fonts/Sceageus.otf') format('opentype');
}

::-webkit-scrollbar {
  display: none;
   -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.topbar{
position: sticky;
top: 0px;
z-index: 49;
}

<<<<<<< HEAD
=======

>>>>>>> 936cb9252e355042c7693e22e6db8bd298c3d967
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-bottom: 5px;
}

.dot {
  height: 12px;
  width: 12px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #fff;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: hsl(0, 0%, 0%);
    box-shadow: 0 0 0 0 rgb(0, 0, 0)
  }

  50% {
    transform: scale(1.2);
    background-color: #000000;
    box-shadow: 0 0 0 10px rgb(0, 0, 0)
  }

  100% {
    transform: scale(0.8);
    background-color: #000000;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7)
  }
}

.App{
  overflow: hidden;
  background: #000000;
}

.blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: rgb(255, 184, 184);
  filter: blur(72px)
}

        #events{
          color: white;
          text-align: left;
        }

          /* Login page */

          h1{
            text-align: left;
            margin: auto ;
            /* padding: 0 0 0 10px; */
            font-family: 'Sceageus';
            font-weight: 500;
            font-size: 4em;
            color: #faf8f8;
            text-shadow: -4px 4px 0px black;
          }

          h1 a{
            text-shadow: 2 2 8px #000000 50%;
            text-decoration: none;
            color: #EE2422;
            cursor: pointer;
          }

          h1 #login{
            text-shadow: 2 2 8px #000000 50%;
            text-decoration: none;
            color: #EE2422;
            cursor: pointer;
          }

          .register{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 60px auto;
            width: auto;
            height: auto;;;
          }

          .register h3{
            margin: 50px 0 10px;
            font-weight: 300;
            font-family: 'ClashDisplay-Medium', sans-serif;
            color: rgb(0, 0, 0);
            font-size: 2em;
          }

          .register #experience{
            font-family: 'ClashDisplay-Medium', sans-serif;
            opacity: 80%;
            text-align: center;
            align-items: center;
            margin: 0 0 25px;
            font-size: 1.2em;
            font-weight: 200;
            color: rgb(97, 97, 97);
          }

          :placeholder-shown{
            opacity: 40%;
          }

          input[
            type="text"
          ]{
            margin: 10px 0 10px 0px;
            width: 360px;
            height: 40px;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 10px;
            padding: 0 0 0 10px;
            font-family: 'ClashDisplay-Medium', sans-serif;
            font-size: 1em;
            color: black;
            background-color: transparent;
          }[
          type="submit"
          ]{
            align-self: center;
            justify-content: center;
            margin: 0 auto;
            width: 150px;
            height: 50px;
            text-align: center;
            font-family: 'ClashDisplay-Medium';
            border: 2px solid rgb(0, 0, 0);
            border-radius: 25px;
            background-color: #EE2422;
            color: rgb(255, 255, 255);
            font-size: 1.5em;
            padding: 5px 20px;
            align-items: center;
            cursor: pointer;
          } 

          label{
            margin: auto;
            margin-left: 20px ;
            font-family: 'ClashDisplay-Medium', sans-serif;
            font-size: 1.2em;
            color: rgb(0, 0, 0);
          }

          h2{
            margin: 10px 0 10px 20px;
            font-family: 'ClashDisplay-Medium', sans-serif;
            font-size: 2em;
            text-align: center;
            color: rgb(0, 0, 0);
          }
          
          form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            width: 400px;
            height: auto;
            border: 2px solid rgba(130, 130, 130, 0.533) ;
            border-radius: 20px;
            padding: 10px 0 10px 0;
            background-color: transparent;
          }

          /*  Page */

          .sneak_in span{
            color: #ee2242;
            text-shadow: -4px 4px 0 rgb(255, 255, 255) ;
        }

        .Home{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            width: 100%;
            height: auto;
            background-color: transparent;
        }
        
        .Search{
            display: flex;
            gap: 0.75rem;
            background-color: transparent;
            color: black;
            border-radius: 10px;
            padding: 5px;
        }
        
        .Search>input{
            background-color: transparent;
            border:1px solid gray;
            outline: none;
            color: black;
        }
        
        .s-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ee2422;
            border-radius: 5px;
            padding: 4px;
            color: white;
        }

        hr{
            width: 100%;
            height: 1px;
            background-color: rgb(0, 0, 0);
            border: none;
            margin-bottom: 1rem;
        }
        
        .s-icon:hover{
            cursor: pointer;
        }

      /* Landing Page  */

      .landing {
        height: auto;
        display: flex;
        flex-direction: column;
        margin: auto;
      }
      
      .navbar-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        align-items: center;
        padding: 20px;
        background-color: #000000;
        color: white;
        margin: 0 0 10rem 0;
      }

      .navbar-container h1{
        font-family: 'Sceageus';
        font-size: 3em;
        margin-left: 0;
        text-align: left;
        align-self: left;
        padding: 0;
      }

      .navbar-container h1 a{
        text-decoration: none;
        cursor: pointer;
      }
    
      
      .nav-links {
        display: flex;
        gap: 20px;
        font-family: 'ClashDisplay-Medium';
        font-size: large;
      }

      .nav-links a:hover{
        border: 2px solid #ee2242;
        border-radius: 10px;
        padding: 5px;
      }
      
      .main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        justify-content: center;
      }
      
      .tagline{
        text-align: center;
        margin: 0 auto;
      }

      .tagline h2{
        text-align: left;
        font-size: 4em;
        color: #dedede;
        padding: 0;
        /* word-spacing: normal; */
        /* margin-bottom: 10px; */
      }

      .explore-btn{
        padding: 10px 20px;
        background-color: #ffffff;
        border: 2px solid red;
        font-weight: bold;
        font-family: 'ClashDisplay-Medium';
        color: rgb(59, 59, 59);
        border-radius: 10px;
        font-size: 1.2em;
      }

      /* .explore-btn:hover{
        background-color: white;
        border: 2px solid #ee2242;
        color: black;
      } */
    
      .slider-container {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin: 50px 10px 100px 10px;
        align-items: center;
      }

      .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
        max-width: 100%;
      }

      .slide {
        min-width: 100%;
        overflow: hidden;
      }

      img {
        width: auto;
        height: 400px;
      }
      
      footer {
        background-color: #000000;
        color: white;
        text-align: center;
        padding: 10px 0;
      }

      .cancel-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 20px;
      }

      .footer-links {
        display: flex;
        gap: 20px;
        justify-content: center;
      }
      
      .footer-links a {
        color: white;
        text-decoration: none;
      }

    /* Navbar */
    header {
      display: flex;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      justify-content: space-between;
      height: 80px;
      padding: 0 1.2rem;
      background-color: black;
      color: var(--textColor);
    }

    header h1{
      font-family: 'Sceageus';
      font-size: 3em;
      margin-left: 0;
      text-align: left;
      align-self: left;
      padding: 0;
    }

    header h1 a{
      text-decoration: none;
      cursor: pointer;
    }
 
    header nav{
      margin: 0;
    }

    nav a {
      margin: 0 10px;
      color: var(--textColor);
      text-decoration: none;
    }

    nav a:hover {
      color: var(--secondaryColor);
    }

    header .nav-btn {
      padding: 5px;
      cursor: pointer;
      background: transparent;
      border: none;
      color: #ee2242; 
      outline: none;
      visibility: visible;
      opacity: 0;
      font-size: 1.8rem;
    }

    header div,
    nav {
      display: flex;
      align-items: center;
    }

    /* Event Registration Page */

    /* Styling the modal background */
        .ReactModal__Overlay {
          opacity: 0;
          transition: opacity 300ms ease-in-out;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .ReactModal__Overlay--after-open {
          opacity: 1;
        }

        .ReactModal__Overlay--before-close {
          opacity: 0;
        }

        /* Styling the modal content */
        .ReactModal__Content {
          position: relative;
          top: auto;
          left: auto;
          transform: none;

          /* position: absolute;s
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); */
          background-color: #fff;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          max-width: 400px;
          width: 100%;

          /* position: relative;
          background-color: #fff;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          max-width: 400px;
          width: 100%; */
        }

        /* Styling the registration form */
      
        input {
          margin-bottom: 15px;
          padding: 10px;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        /* button .event-btn {
          background-color: #4caf50;
          color: #fff;
          padding: 12px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          width: 100%;
          font-size: 16px;
        } */

        button .event-btn :disabled {
          background-color: #aaa;
          cursor: not-allowed;
        }

        /* Styling for success message */
        .success-message {
          color: #4caf50;
          font-size: 16px;
          text-align: center;
          margin-top: 10px;
        }

    @media screen and (max-width: 768px) {

          h1{
            text-align: left;
            margin: auto ;
            /* padding: 0 0 0 10px; */
            font-family: 'Sceageus';
            font-weight: 500;
            font-size: 3em;
            color: #ff5656;
          }
/* 

        /* Slider */

        .events{
          background-color: #231a1ab3;
          height: 100vh;
          width: 100%;
        }
        
      .slider img {
        max-width: 75%;
        height: auto;
        margin: 0 auto;
    }

      /* Style for the event container */
      .event-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
      }

      /* Style for the content (title and description) */
      .event-container .content {
        position: absolute;
        text-align: center;
        bottom: 0; /* Align content to the bottom */
        left: 0; /* Align content to the left */
        width: 100%;
        background-color: rgb(0, 0, 0); /* Semi-transparent background */
        color: white;
        padding: 10px; /* Add padding around the content */
        box-sizing: border-box; /* Include padding in the width */
      }

      /* Style for the title */
      .event-container h3 {
        font-size: 1.5em;
        margin: 0;
        font-weight: bolder;
      }

      /* Style for the description */
      .event-container p {
        margin: 0;
      }


    .prev, .next {
      cursor: pointer;
      position: absolute;
      /* transform: translateY(80%); */
      width: 50px; /* Adjust the width as needed */
      height: 50px; /* Adjust the height as needed */
      background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color as needed */
      color: white; /* Text color */
      border: none;
      border-radius: 50%; /* Make the buttons circular */
      font-size: 24px; /* Adjust the font size as needed */
      /* line-height: 50px; Center the text vertically */
      z-index: 1; 
    }

    .prev {
      left: 10px; /* Adjust the distance from the left edge */
    }

    .next {
      right: 10px; /* Adjust the distance from the right edge */
    }

      

        .main-content {
          height: 100vh;
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .tagline h2{
          margin-top: 3em;
          font-size: 4em;
          text-align: center;
          line-height: 1;
          color: #f6ffb9;
        }

        .explore-btn{
          margin-top: 20px;
        }

        img{
            width: 100%;
            height: 650px;
          }

         /* Navbar */ 

         header .nav-btn {
          visibility: visible;
          opacity: 1;
        }
      
        header nav {
          position: fixed;
          top: -100vh;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1.5rem;
          background-color: var(--mainColor);
          transition: 0.5ms;
        }
      
        header .responsive_nav {
          transform: translateY(100vh);
        }
      
        nav .nav-close-btn {
          position: absolute;
          top: 2rem;
          right: 2rem;
        }
      
        nav a {
          font-size: 1.5rem;
        }
   }



@layer base {
  :root {
    --mainColor: #30333A;
    --mainColorLight: #0033ff;
    --secondaryColor: #db2b39;
    --textColor: #ff0000;

    /* --color-bg: rgb(0, 0, 0);
    --color-primary: rgb(0, 0, 0);
    --color-secondary: rgb(0, 0, 0);
    --color-ascent1: 0 0 0;
    --color-ascent2: black;
    --color-blue: black;
    --color-white: black; */
  }
  /* //15 23 42  21 30 49*/
  [data-theme="dark"] {
     --color-bg: 12 12 12;
     --color-primary: black;
    --color-secondary: black;
    --color-ascent1: black;
    --color-ascent2: rgb(0, 0, 0);
    --color-blue: #000000;
    /* //16 176 255; */
    --color-white: black;
  }
}

